apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - pull-secret.yaml
images:
  - name: ghcr.io/{{.GHCROrg}}/{{.Slug}}
    newTag: latest
