apiVersion: v1
kind: Secret
metadata:
  name: ghcr-pull
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: |
    {"auths":{"ghcr.io":{"username":"{{.PullUsername}}","password":"{{.PullPassword}}","auth":"{{.PullAuthB64}}"}}}
